base de dados para classificar possiveis investidores

 base com overfitting

In [1]:
library(caret)

Carregando pacotes exigidos: ggplot2

Carregando pacotes exigidos: lattice

In [2]:
#leitura dos dados

dados <- read.csv("databases/4 – Banco - Dados.csv")

head(dados)

  age job        marital education default balance housing loan y
1 30  unemployed married primary   no      1787    no      no   no
2 33  services   married secondary no      4789    yes     yes  no
3 35  management single  tertiary  no      1350    yes     no   no
4 30  management married tertiary  no      1476    yes     yes  no
5 59  bluecollar married secondary no         0    yes     no   no
6 35  management single  tertiary  no       747    no      no   no

In [3]:
#separando em bases de teste e treinamento
set.seed(123)
ran <- sample(1:nrow(dados), 0.8*nrow(dados))

treino <- dados[ran,]
teste <- dados[-ran,]

In [4]:
#faz um grid de valores para k e executa o knn
tuneGrid <- expand.grid(k=c(1,3,5,7,9))

set.seed(123)

knn <- train(y ~ ., data=treino, method="knn", tuneGrid=tuneGrid)
knn

k-Nearest Neighbors

240 samples
  8 predictor
  2 classes: 'no', 'yes'

No pre-processing
Resampling: Bootstrapped (25 reps)
Summary of sample sizes: 240, 240, 240, 240, 240, 240, ...
Resampling results across tuning parameters:

  k  Accuracy   Kappa
  1  0.8059532  0.16262839
  3  0.8113329  0.15107309
  5  0.8223151  0.10050374
  7  0.8247088  0.03479743
  9  0.8346363  0.05525673

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was k = 9.

In [5]:
# faz a predição e mostra a matriz de confusao
predict_knn <- predict(knn, teste)

confusionMatrix(predict_knn, as.factor(teste$y))

Confusion Matrix and Statistics

          Reference
Prediction no yes
       no  56   3
       yes  1   0

               Accuracy : 0.9333
                 95% CI : (0.838, 0.9815)
    No Information Rate : 0.95
    P-Value [Acc > NIR] : 0.8197

                  Kappa : -0.0256

 Mcnemar's Test P-Value : 0.6171

            Sensitivity : 0.9825
            Specificity : 0.0000
         Pos Pred Value : 0.9492
         Neg Pred Value : 0.0000
             Prevalence : 0.9500
         Detection Rate : 0.9333
   Detection Prevalence : 0.9833
      Balanced Accuracy : 0.4912

       'Positive' Class : no

In [6]:
#predicoes de novos casos
dados_novos_casos <- read.csv("databases/4 – Banco -  Novos Casos.csv")

predict_knn <- predict(knn, dados_novos_casos)
dados_novos_casos$y <- NULL

resultado<- cbind(dados_novos_casos, predict_knn)

View(resultado)

  age job        marital education default balance housing loan predict_knn
1 60  unemployed married primary   no      2000    yes     yes  no
2 33  services   married secondary yes     3000    yes     no   no
3 15  management single  tertiary  no      1350    yes     no   no